<header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">

      <!-- Check if logged in, if so show logout. -->
      <% if (locals.loggedin) { %>
        <a title="Manage Account" href="/account/">Welcome <%= locals.accountData.account_firstname%></a>
        <br>
        <a title="Logout" href="/account/logout">Logout</a> <!-- The logout will be processed when pressed -->
      <% } else { %>
        <a title="Click to log in" href="/account/login">Login</a> <!-- This is for the main login link-->
        <% } %>
    </div>
</header>