<!-- **************
*   Management View
*   Assignment 4
*************** -->

<!-- Content Heading -->
<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>
<!-- Message Block -->
<%- messages() %>
<!-- Display errors -->


<!-- Displays the two links for -->
<div class="management">
  <a href="/inv/add-classification">Add New Classification</a>
  <a href="/inv/add-inventory">Add New Vehicle</a>
</div>